.sliders{
     display: flex;
    justify-content: space-around;
     width: 90%;
   margin: 20px auto;
   height: 500px;
}
.image{
    position: relative;
    width: 50%;
    height: 100%;

}
.silderImages{
    width: 100%;
    height: 100%;
}

.backwardMainPage{
    position: absolute;
    top: 50%;
    left:0%;
    transform: translatey(50%);
    border-radius: 50%;
    color:var(--SecondaryColor);
    background-color:var(--primaryColor);
   font-size: 50px !important;

}
.forwardMainPage{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translatey(50%);
    border-radius: 50%;
    /* color: white; */
     color:var(--SecondaryColor);
    background-color:var(--primaryColor);
   font-size: 50px !important;
}
.backwardMainPage,
.forwardMainPage{
   cursor: pointer;
}
/* .backward{
    position: absolute;
    top: 50%;
    left:0%;
    transform: translatey(50%);
    border-radius: 50%;
    color: white;
    background-color: var(--SecondaryColor);
}
.forward{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translatey(50%);
    border-radius: 50%;
    color: white;
    background-color:var(--SecondaryColor);
   
} */
.backward:hover,
.forward:hover{
    cursor: pointer;

}
.mainImageText{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
 
}
.mainImageText b{
    margin-top: 50px;
    font-size: 45px;
}
.imageText{
    margin-top: 40px;
    font-size: 20px;
    height: 90px;
    overflow: hidden;
}
.sliderBtn{
    width: 50%;
    height: 10%;
     margin-top: 12px;
     border-radius: 10px;
     background-color:var(--primaryColor) !important ;
     color: white;
    font-size: 22px;
}
.sliderBtn:hover{
    background: var(--SecondaryColor)  !important;
    color: black !important;
}

/* responsive phone */
@media (max-width: 650px){
    .sliders{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 650px;
      /* padding-top: 20px; */
    }
    
.backwardMainPage{
    position: absolute;
    top: 50%;
    left:0%;
    transform: translatey(50%);
    border-radius: 50%;
    color:var(--SecondaryColor);
    background-color:var(--primaryColor);
   font-size: 30px !important;

}
.forwardMainPage{
    position: absolute;
    top: 50%;
    right: 0%;
     transform: translatey(50%);
    border-radius: 50%;
    /* color: white; */
     color:var(--SecondaryColor);
    background-color:var(--primaryColor);
   font-size: 30px !important;
}
    .image{
        width: 90%;
        height: 70%;
    }
    .mainImageText{
        width: 90%;
        height: 30%;
        display: block;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .mainImageText b{
        margin-top: 2%;
        font-size: 26px;
    }
    .imageText{
        margin-top: 2%;
        font-size: 16px;
    }
    .sliderBtn{
        background: var(--primaryColor);
        margin-top: 2%;
        font-size: 16px;
        height: 25px;
        overflow: hidden;
    }
} 
.slider-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 90vh;
}
.mainImgSliderBtn{
    background: var(--primaryColor);
    color: #000;
    width: 30%;
    height: 60px;
    padding: 4px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%,-100%);
}
.mainImgSliderBtn:active{
background: var(--SecondaryColor);
color: white;
}
.header-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
   position: absolute;
   z-index: -1;
   /* display:none; */
} 
@media (max-width: 550px) {
    .slider-header{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 85vh;
    }
    
}
